<!DOCTYPE html>
<html>
	<head>
		<!-- <link href="/static/css/registernewuser.css" rel="stylesheet" type="text/css" /> -->
	</head>
	<body>
		<h1>Players</h1>
		<div>
		{% if new_id_user_list %}
		    
		    {% for user in new_id_user_list %}
			    <ul>
			    	<li>{{ user.player_id }}</li>
			        <li>{{ user.player_name }}</li>
			        <li>{{ user.password }}</li>
			        <li>{{ user.date_of_registration }}</li>
			    </ul>
		    {% endfor %}
		    
		{% else %}
		    <p>No players are available.</p>
		{% endif %}
		</div>
	</body>
</html>